<div class="footer">
    <div class="main-footer container">
        <div class="footer-logo space">
            <a href="{{data[2].entries[0].footer.main_footer.vertical_navbar[0].href}}"> <img src="{{data[2].entries[0].footer.main_footer.logo.url}}"/></a>
        </div> 
       <div class="space">
            <div class="sidenav">
                <a href="{{data[2].entries[0].footer.main_footer.vertical_navbar[0].href}}">{{data[2].entries[0].footer.main_footer.vertical_navbar[0].title}}</a>
                <a href="{{data[2].entries[0].footer.main_footer.vertical_navbar[1].href}}">{{data[2].entries[0].footer.main_footer.vertical_navbar[1].title}}</a>
                <button class="dropdown-btn" onclick="showlist();">{{data[2].entries[0].footer.main_footer.vertical_navbar[2].title}}<i class="fa fa-caret-down"></i> </button>
                <div class="dropdown-container">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
                <a href="{{data[2].entries[0].footer.main_footer.vertical_navbar[3].href}}">{{data[2].entries[0].footer.main_footer.vertical_navbar[3].title}}</a>
            
            </div>
        </div>
        <div class="links space">
            <h2>{{data[2].entries[0].footer.main_footer.connect_title}}</h2>
            <a href="{{data[2].entries[0].footer.main_footer.connect[0].href}}"><i href="#" class="fa fa-google"></i>{{data[2].entries[0].footer.main_footer.connect[0].title}}</a>
            <a href="{{data[2].entries[0].footer.main_footer.connect[1].href}}"><i href="#" class="fa fa-facebook"></i>{{data[2].entries[0].footer.main_footer.connect[1].title}}</a>
            <a href="{{data[2].entries[0].footer.main_footer.connect[2].href}}"><i href="#" class="fa fa-twitter"></i>{{data[2].entries[0].footer.main_footer.connect[2].title}}</a>
            <a href="{{data[2].entries[0].footer.main_footer.connect[3].href}}"><i href="#" class="fa fa-youtube"></i>{{data[2].entries[0].footer.main_footer.connect[3].title}}</a>
        </div>
    </div>
</div>
<div class="sticky-footer">
    <div class="copy">{{data[2].entries[0].footer.stickey_footer.copyright}}</div>
        <div class="social">
            <a href="{{data[2].entries[0].footer.main_footer.connect[1].href}}" class="fa fa-facebook"></a>
            <a href="{{data[2].entries[0].footer.main_footer.connect[2].href}}" class="fa fa-twitter"></a>
            <a href="{{data[2].entries[0].footer.main_footer.connect[0].href}}" class="fa fa-google"></a>
            <a href="{{data[2].entries[0].footer.main_footer.connect[3].href}}" class="fa fa-youtube"></a>
        </div>      
    </div>
</div>
   
