{% extends "./layout/parent.html" %}
{% block main_body %}
<div class="container">
        <h2>{{data[1].form.h2}}</h2>
        <h4>{{data[1].form.h4}}</h4>
        <p id="p1"></p>
        <div class="full-form-container">
    
            <form name="feedbaackform"  method="post" onsubmit="return validateForm()" action="feedback-confirmation.html">
                <div class="querry-form">
                    
                    <div class="self">
                        <h3>{{data[1].form.h3_1}}</h3>
                       
                        <div class="form1">
                            <input class="name1" id="fname" type="text" placeholder="Your Name"  >
                            <input class="name1" id="lname" type="text" placeholder="Last Name" >
                            <input class="name1" id="mail" type="email" placeholder="Work Email" >
                        </div>
                    </div>
                    <div class="business">
                        <h3>{{data[1].form.h3_2}}</h3>
                        <input class="name1" id="cname" type="text" placeholder="Company Name" >
                        <input class="name1" id="job" type="text" placeholder="Job Title" >
                        <select id="business"><option value="---select a business type---">---Select a business type---</option>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                        <select id="help">   
                            <option value="---select type of help---"> ---Select type of help---</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                </div>
                <textarea rows="5"  placeholder="To help us provide you with the fastest and more accurate responce, please leave us deatailed message."></textarea> 
                <div class="submit" ><button class="sub"  type="submit" value="Submit" onclick="focusMethod()" >{{data[1].form.btn_name}}</button></div>
            </form>
        </div>
    </div>
{% endblock %}